
.aboutus{
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
    padding: 1px;
  
   
}

.aheading h1{
    font-size: 55px;
    text-align: center;
    width: 100%;
    height: 120px;
    padding-top: 30px;
    background-image: linear-gradient(to right,#bfe9ff, #ff6e7f);
    box-sizing: border-box;

}
.containerab{
    width: 90%;
    height: auto;
    background-color: rgba(250, 235, 215, 0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 65px auto;
}
.containerab h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(5, 43, 110);

}
.containerab p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
    font-family:"Arial",sans-serif;
}
.containerab .contantab{
    flex:1;
    width: 600px;
    margin: 0px 25px;
    animation:first 2s ease;
}
.containerab .imgab{
    flex:1;
    width: 600px;
    margin: 0px 25px;
    animation:second 2s ease;

}
.imgab img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.containerab button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3 ease;
}
.containerab button:hover{
    background-color: #ff6347;
    transform: scale(1.1);
}
@keyframes first{
    0%{
        opacity:0;
        transform:translateY(50px);

    }
    100%{
        opacity:1;
        transform:translateY(0px);
        
    }
}
@keyframes second{
    0%{
        opacity:0;
        transform:translateX(-50px);

    }
    100%{
        opacity:1;
        transform:translateX(0px);
        
    }
}
