.background-signup{
    background-image: url("img/backgroun3.jpg");
    background-position: center;
    background-size:cover ;
    height:85vh;
    width: 100%;
    filter: blur(px);
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

 

.container-signup{
        display: flex;
   
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%,-50%);
        width: 90%;
        height: 560px;
        margin-top: 20px;
        background: url("img/backgroun3.jpg") no-repeat;
        background-position: center;
        background-size:cover ;
        border-radius: 20px;
        overflow: hidden;
        
        
}
.item-signup{
    width: 58%;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    animation:first 2s ease;
}
.item-signup h2 span{
    color:#0073ff;
}

.text-item-signup{
    width: 50%;
    height: 500px;
}

.text-item-signup h2{
    margin-left: 15px;
    color: #fff;
    font-size: 25px;
  

}
.logo-signup  h2{
    font-size: 40px;
    line-height: 1;
    color: #fff;
    margin-left:45px;

}
.text-item-signup h2 span{

    
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0px;
   

}
.text-item-signup p{
    font-size: 18px;
    margin: 25px 25px;
    color: #fff;
    width: 350px;
    justify-content: space-between;

}
.social-icon-signup{
    margin-left: 25px;
}
.social-icon-signup a i{
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
   
}
.social-icon-signup a:hover i{
    transform: scale(1.2);
}
.container-signup .signup-section{
    width: 60%;
    height: 700px;
    width: calc(100% - 25%);
    height: 100%;
    color: #fff;
    backdrop-filter: blur(5px);
    animation:second 2s ease;
   
}
.signa label{
    font-size: 18px;
    color:white;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    
}
.signa [type=text]{
    width: 160px;
    height: 20px;
    background: transparent;
    padding: 5px;
    margin: 10px 5px 5px 5px;
    border-radius: 5px;
    
}
.signa ::placeholder{
    color: #0073ff;
    font-size: 16px;
    font-family: bold;
}
.signage label{
    font-size: 18px;
    color:white;
    margin: 5px 5px 5px 5px;
    padding: 10px;
}
.signage [type=number]{
    width: 160px;
    height: 20px;
    background: transparent;
    padding: 5px;
    margin: 10px 5px 5px 60px;
    border-radius: 5px;
}
.signage [type=radio]{
    width: 11px;
    height: 20px;
    background: transparent;
    padding: 15px;
    margin: 5px 5px 5px 30px;
}
#signgen{
    margin-left: 10px;
    color: f #000;
}
#signman{
    font-size: 16px;
    color: #0073ff; 
    margin-top: 0px;
    padding: 5px;
}
#signfemale{
    font-size: 16px;
    color: #0073ff;
    margin: 0px;
    padding: 0px;
}
.signemail label{
    font-size: 18px;
    color:white;
    margin: 5px 5px 5px 5px;
    padding: 10px;
}
.signemail [type=email]{
    width: 465px;
    height: 20px;
    background: transparent;
    padding: 5px;
    margin: 10px 5px 5px 45px;
    border-radius: 5px;
}
.signemail ::placeholder{
    color: #0073ff;
    font-size: 16px;
    font-family: bold;
    text-align: center;
    letter-spacing: 0.2cm;
    word-spacing: 0.2cm;
}
.signpass label{
    font-size: 18px;
    color:white;
    margin: 5px 5px 5px 5px;
    padding: 10px;
}
.signpass [type=password]{
    width: 460px;
    height: 20px;
    background: transparent;
    padding: 5px;
    margin: 10px 5px 10px 10px;
    border-radius: 5px;
}
.signpass ::placeholder{
    color: #0073ff;
    font-size: 16px;
    font-family: bold;
    text-align: center;
    letter-spacing: 0.2cm;
    word-spacing: 0.2cm;
}
.signpass label{
    font-size: 18px;
    color:white;
    margin: 5px 5px 5px 5px;
    padding: 10px;
}
.signpass [type=password]{
    width: 460px;
    height: 20px;
    background: transparent;
    padding: 5px;
    margin: 10px 5px 10px 15px;
    border-radius: 5px;
}
.signpass ::placeholder{
    color: #0073ff;
    font-size: 16px;
    font-family: bold;
    text-align: center;
    letter-spacing: 0.2cm;
    word-spacing: 0.2cm;
}

.resignpass label{
    font-size: 18px;
    color:white;
    margin: 5px 5px 5px 5px;
    padding: 10px;
}
.resignpass [type=password]{
    width: 450px;
    height: 20px;
    background: transparent;
    padding: 5px;
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
}
.resignpass ::placeholder{
    color: #0073ff;
    font-size: 16px;
    font-family: bold;
    text-align: center;
    letter-spacing: 0.2cm;
    word-spacing: 0.2cm;
}
.signcap label{
    font-size: 18px;
    color:white;
    margin: 10px 5px 5px 5px;
    padding: 10px;
    }
.signcap [type=text]{
    height: 25px;
    width: 50px;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    left: 240px;
    margin: 10px 0px 0px 5px ;
}
.signcheck [type=checkbox]{
       margin-left: 20px;
       margin-top: 5px;
       border-radius: 5px;
}


/* .signcheck [type=checkbox]{
    width: 15px;
    height: 13px;
    background: transparent;
    padding: 5px;
    text-align: center;
    position: relative;
    top: 5px;
    left: 10px;
    border-radius: 5px;
}
.signcheck i{
    font-size: 15px;
    color:white;
    margin: 20px 5px 5px 5px;
    padding: 25px;
    text-align: center;
    position: relative;
    top: 13px;
    left: 110px;
}   */
.signbutton button{
    height:40px;
    width: 400px;
    background-color: red;
    padding: 5px;
    margin: 5px 50px 5px 120px;
    border-radius: 15px;
    
}
.signbutton label{
    color: #fff;

}
.signbutton i{
    height: 25px;
    width: 45px;
    padding-right: 20px;
}
.signbutton a{
    text-decoration: none;
}
.signall label{
    margin-left: 190px;
    margin-top: 10px;

}
.signall a{
    text-decoration: none;
}



@keyframes first{
    0%{
        opacity:0;
        transform:translateY(50px);

    }
    100%{
        opacity:1;
        transform:translateY(0px);
        
    }
}
@keyframes second{
    0%{
        opacity:0;
        transform:translateX(-50px);

    }
    100%{
        opacity:1;
        transform:translateX(0px);
        
    }
}
#one h1{
    

    display: inline-block;
    font-size: 68px;
    margin-right: 24px;
    letter-spacing: 11px;
    font-weight: 900;
    font-family: arial black;
    
}